<template>
  <div class="page" data-name="list_courses">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">Ajout de Produits</div>
      </div>
      
    </div>
    <div class="page-content">
      <form class="list form-store-data" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Produits</div>
                <div class="item-input-wrap">
                  <select name="produit">
                    <option value="legumes" selected="selected">Légumes</option>
                    <option value="viande">Viandes</option>
                    <option value="fruit">Fruits</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Nom du produit</div>
                <div class="item-input-wrap">
                  <input type="text" name="name" placeholder="Your name" />
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Nombre de produit</div>
                <div class="item-input-wrap">
                  <input type="text" name="nombre" placeholder="Nombre" />
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="block block-strong row">
        <div class="col">
          <a class="button button-fill convert-form-to-data open-full" href="#"
            >Ajouter Produits</a
          >
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default (props, { $, $on, $f7 }) => {
    $on("pageInit", () => {
      
      $(".convert-form-to-data").on("click", function () {
        var formData = $f7.form.convertToData("#my-form");
        var pp = JSON.parse(localStorage.getItem("aa"));

        var exist = false;
        if (formData["produit"] == "legumes") {
          pp["value"]["legumes"].forEach((element, index) => {
            if (element["name"] == formData["name"]) {
              exist = true;
              pp["value"]["legumes"][index]["quantity"] =
                parseInt(pp["value"]["legumes"][index]["quantity"]) +
                parseInt(formData["nombre"]);
            }
          });
          if (!exist) {
            pp["value"]["legumes"].push({
              name: formData["name"],
              quantity: formData["nombre"],
              state: false,
            });
          }
          localStorage.setItem("aa", JSON.stringify(pp));
        } else if (formData["produit"] == "fruit") {
          pp["value"]["fruits"].forEach((element, index) => {
            if (element["name"] == formData["name"]) {
              exist = true;
              pp["value"]["fruits"][index]["quantity"] =
                parseInt(pp["value"]["fruits"][index]["quantity"]) +
                parseInt(formData["nombre"]);
            }
          });
          if (!exist) {
            pp["value"]["fruits"].push({
              name: formData["name"],
              quantity: formData["nombre"],
              state: false,
            });
          }
          localStorage.setItem("aa", JSON.stringify(pp));
        } else if (formData["produit"] == "viande") {
          pp["value"]["viandes"].forEach((element, index) => {
            if (element["name"] == formData["name"]) {
              exist = true;
              pp["value"]["viandes"][index]["quantity"] =
                parseInt(pp["value"]["viandes"][index]["quantity"]) +
                parseInt(formData["nombre"]);
            }
          });

          if (!exist) {
            pp["value"]["viandes"].push({
              name: formData["name"],
              quantity: formData["nombre"],
              state: false,
            });
          }
          localStorage.setItem("aa", JSON.stringify(pp));
        }

      });

      $(".fill-form-from-data").on("click", function () {
        var formData = {
          name: "John",
          email: "john@doe.com",
          gender: "female",
        };
        $f7.form.fillFromData("#my-form", formData);
      });
    });




    $on('pageInit', () => {
      var notificationFull = $f7.notification.create({
        icon: '<i class="f7-icons">house</i>',
        title: 'Liste de courses',
        text: 'Produit ajouter',
        closeTimeout: 1500,
      });
      
      // Open Notifications
      $('.open-full').on('click', function () {
        notificationFull.open();
      });
      
    })







    return $render;
  };
</script>
