<template>
  <div class="page" data-name="lists">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">Liste de Courses</div>
      </div>
    </div>
    <div class="page-content">
      <div class="text-color-dark">
        <div>
          <div class="card">
            <div class="card-header">
              Légumes<i class="f7-icons size" @click="${deleteAllLegumes}"
                >trash</i
              >
            </div>

            <div class="card-content text-align-center">
              ${JSON.parse(localStorage.getItem("aa")).value.legumes.map((value,
              index) => $h` ${value.state ? $h`
              <div class="margin-bottom text-color-dark" style="opacity: 0.33">
                <span @click="${validProductLegumes}" value="${index}"
                  >${value.name} - ${value.quantity}</span
                >
                <i
                  class="f7-icons size"
                  @click="${deleteProductLegumes}"
                  value="${index}"
                  style="margin-left: 15em"
                  >trash</i
                >
              </div>

              ` : $h`
              <div class="margin-bottom text-color-dark">
                <span @click="${validProductLegumes}" value="${index}"
                  >${value.name} - ${value.quantity}</span
                >
                <i
                  class="f7-icons size"
                  @click="${deleteProductLegumes}"
                  value="${index}"
                  style="margin-left: 15em"
                  >trash</i
                >
              </div>

              `} `)}
            </div>
          </div>
        </div>
        <div>
          <div class="card">
            <div class="card-header">
              Fruits<i class="f7-icons size" @click="${deleteAllFruits}"
                >trash</i
              >
            </div>
            <div class="card-content text-align-center">
              ${JSON.parse(localStorage.getItem("aa")).value.fruits.map((value,
              index) => $h` ${value.state ? $h`
              <div class="margin-bottom text-color-dark" style="opacity: 0.33">
                <span @click="${validProductFruits}" value="${index}">
                  ${value.name} - ${value.quantity}
                </span>
                <i
                  class="f7-icons size"
                  @click="${deleteProductFruits}"
                  value="${index}"
                  style="margin-left: 15em"
                  >trash</i
                >
              </div>

              ` : $h`
              <div class="margin-bottom text-color-dark">
                <span @click="${validProductFruits}" value="${index}">
                  ${value.name} - ${value.quantity}
                </span>
                <i
                  class="f7-icons size"
                  @click="${deleteProductFruits}"
                  value="${index}"
                  style="margin-left: 15em"
                  >trash</i
                >
              </div>

              `} `)}
            </div>
          </div>

          <div class="card">
            <div class="card-header">
              Viandes<i class="f7-icons size" @click="${deleteAllViandes}"
                >trash</i
              >
            </div>
            <div class="card-content text-align-center">
              ${JSON.parse(localStorage.getItem("aa")).value.viandes.map((value,
              index) => $h` ${value.state ? $h`
              <div class="margin-bottom text-color-dark" style="opacity: 0.33">
                <span @click="${validProductViandes}" value="${index}">
                  ${value.name} - ${value.quantity}
                </span>
                <i
                  class="f7-icons size"
                  @click="${deleteProductViandes}"
                  value="${index}"
                  style="margin-left: 15em"
                  >trash</i
                >
              </div>

              ` : $h`
              <div class="margin-bottom text-color-dark">
                <span @click="${validProductViandes}" value="${index}">
                  ${value.name} - ${value.quantity}
                </span>
                <i
                  class="f7-icons size"
                  @click="${deleteProductViandes}"
                  value="${index}"
                  style="margin-left: 15em"
                  >trash</i
                >
              </div>

              `} `)}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default (props, { $f7route, $store }) => {
    if (localStorage.getItem("aa") == undefined) {
      localStorage.setItem("aa", JSON.stringify($store.getters.listsCourse));
    }
    const validProductLegumes = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      console.log("bob");
      aliments["value"]["legumes"][click["target"]["value"]]["state"] =
        !aliments["value"]["legumes"][click["target"]["value"]]["state"];
      await localStorage.setItem("aa", JSON.stringify(aliments));

      location.reload();
    };

    const validProductFruits = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      aliments["value"]["fruits"][click["target"]["value"]]["state"] =
        !aliments["value"]["fruits"][click["target"]["value"]]["state"];
      await localStorage.setItem("aa", JSON.stringify(aliments));

      location.reload();
    };

    const validProductViandes = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      aliments["value"]["viandes"][click["target"]["value"]]["state"] =
        !aliments["value"]["viandes"][click["target"]["value"]]["state"];
      await localStorage.setItem("aa", JSON.stringify(aliments));

      location.reload();
    };

    const deleteProductViandes = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      console.log(click["target"]["value"]);

      aliments["value"]["viandes"].splice([click["target"]["value"]], 1);
      await localStorage.setItem("aa", JSON.stringify(aliments));
      location.reload();
    };

    const deleteProductFruits = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      console.log(click["target"]["value"]);

      aliments["value"]["fruits"].splice([click["target"]["value"]], 1);
      await localStorage.setItem("aa", JSON.stringify(aliments));
      location.reload();
    };

    const deleteProductLegumes = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      console.log(click["target"]["value"]);

      aliments["value"]["legumes"].splice([click["target"]["value"]], 1);
      await localStorage.setItem("aa", JSON.stringify(aliments));
      location.reload();
    };

    const deleteAllLegumes = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      aliments["value"]["legumes"] = [];
      await localStorage.setItem("aa", JSON.stringify(aliments));
      location.reload();
    };

    const deleteAllFruits = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      aliments["value"]["fruits"] = [];
      await localStorage.setItem("aa", JSON.stringify(aliments));
      location.reload();
    };
    const deleteAllViandes = async (click) => {
      var aliments = JSON.parse(localStorage.getItem("aa"));

      aliments["value"]["viandes"] = [];
      await localStorage.setItem("aa", JSON.stringify(aliments));
      location.reload();
    };
    return $render;
  };
</script>
